/*
 * Global Styles
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	background: #f7f8fa;
	color: #58677c;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	color: #434e5e;
	margin: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #b4b8bf;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

.text-center {
	text-align: center !important;
}

.text-muted {
    color: #6c757d !important;
    font-weight: 400;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-lg-9, .col-lg-3 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-lg-9 {
	flex: 0 0 70%;
	max-width: 70%;
}

.col-lg-3 {
	flex: 0 0 30%;
	max-width: 30%;
}

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}

.badge-pill {
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
}

.badge-primary {
	color: #fff;
	background-color: #434e5e;
}

.badge-secondary {
	color: #434e5e;
	background-color: #f8f9fa;
}

/*
 * Letter size 8.5 x 11 inches
 */
.resume-wrapper {
	width: 21.59cm;
	height: 27.94cm;
	margin: 30px auto;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.15);
	position: relative;
	max-width: 100%;
}

/*
 * Resume Header
 */
.resume-header {
	background: #434e5e;
	color: #fff;
	padding: 25px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/*
 * Primary Info
 */
.resume-header .primary-info .name {
	color: #fff;
	font-size: 2.25rem;
	letter-spacing: 0.175rem;
	text-transform: uppercase;
}

.resume-header .primary-info .contact li {
	font-size: 1rem;
	margin-bottom: 0.175rem;
}

.resume-header .primary-info .contact li:last-child {
	margin-bottom: 0;
}

.resume-header .primary-info .contact .fa-container {
	background: transparent;
	color: #b4b8bf;
	display: inline-block;
	font-size: 1rem;
	height: 24px;
	width: 24px;
	text-align: center;
}

/*
 * Secondary Info
 */
.resume-header .secondary-info .social li {
	font-size: 0.875rem;
	margin-bottom: 0.5rem;
}

.resume-header .secondary-info .social li:last-child {
	margin-bottom: 0;
}

.resume-header .secondary-info .social .fa-container {
	background: #fff;
	border-radius: 0.125rem;
	color: #434e5e;
	display: inline-block;
	font-size: 1rem;
	height: 24px;
	width: 24px;
	text-align: center;
	margin-right: 0.5rem;
}

/*
 * Resume Body
 */
.resume-body {
	padding: 25px;
}

/*
 * Resume Section
 */
.section {
	margin-bottom: 1rem;
}

.section .heading {
	color: #434e5e;
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
	text-transform: uppercase;
}

.section .heading:after {
	background: #8d9aad;
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1.5px;
	width: 100%;
}

.section .timeline {
	padding-left: 2rem;
	position: relative;
}

.section .timeline:before {
	content: "";
	display: inline-block;
	width: 3px;
	height: 100%;
	background: #aab4c3;
	left: 6px;
	top: 4px;
	position: absolute;
}

.section .timeline .timeline-item {
	position: relative;
}

.section .timeline .timeline-item:before {
	background: #fff;
	content: "";
	position: absolute;
	display: inline-block;
	left: -32px;
	top: 3px;
	width: 15px;
	height: 15px;
	border: 4px solid #58677c;
	border-radius: 50%;
}

.section .content {
	margin: 0;
}

/*
 * Experience Section
 */
.experience .info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.experience .info .title {
	color: #434e5e;
	font-size: 1.125rem;
	font-weight: 700;
}

.experience .info .company {
	color: #58677c;
	font-size: 0.875rem;
	font-weight: 500;
}

.experience .position-time {
	font-size: 0.875rem;
	color: #aab4c3;
}

.experience .description {
	width: 100%;
}

.experience .description ul {
	list-style-type: disc;
	margin: 10px 0;
	padding: 0 0 0 35px;
}

/*
 * Skills Section
 */
.skills .primary-skills ul {
	margin-bottom: 16px;
}

.skills .primary-skills li:not(:last-child) {
	margin-bottom: 8px;
}

.skills .primary-skills .skill-name {
	color: #434e5e;
	font-size: 0.8125rem;
}

.skills .primary-skills .progress {
	display: flex;
	height: 0.6rem;
	overflow: hidden;
	font-size: 0.75rem;
	background-color: #e9ecef;
	border-radius: 2px;
}

.skills .primary-skills .progress .progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #434e5e;
	transition: width 0.6s ease;
}

.skills .other-skills h4 {
	margin-bottom: 8px;
}

.skills .other-skills li {
	display: inline-block;
}

.skills .other-skills li:not(:last-child) {
	margin-right: 3px;
}

/*
 * Print Adjustments
 */
@media print {
  body,
  .resume-wrapper {
    border: 0;
    box-shadow: 0;
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
  }

  .noprint {
    display: none;
  }
}
